*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {
    font-family: inherit;
}

/******************************/
/*********** BODY *************/
/******************************/

body {
    min-width: 320px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px; /*Medium website text size*/
}


/***** Headers *****/

h1 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

/***** Links *****/

a { 
    text-decoration: none;
    color: black;
}


/***** Lists *****/

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {

    list-style-type: none;
}

/***** Paragraphs *****/

p{
    margin: 0;
}

/***** Focus *****/

:focus {
    outline: 2px solid #0065fc7a;
    box-shadow: 0px 0px 0px 3px inset #deebfffa;
    background-color: #deebff49;
    transform: scale(1.1);
}


/*__________________________________*/
/*------------> HEADER <------------*/
/*__________________________________*/


.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: stretch; */
    /* border: 2px solid red; */
}

.navbar__logo {
    display: flex;
    align-items: center;
    /* border: 2px solid orange; */
}

nav img {
    height: 56px;
    /* border: 2px solid yellow; */
}

.navbar__button-group {
    display: flex;
    flex-direction: row;
    min-width: 30%;
    /* font-size: 20px; */
    /* border: 2px solid brown; */
}

.navbar__button a {
    display: block;
    width: 220px;
    text-align: center;
    height: 100%;
    padding: 40px 24px 40px 24px;
}

.navbar__button a:hover{
    color: #0065FC;
    border-top: solid 3px #0065FC;
}

/*________________________________*/
/*------------> MAIN <------------*/
/*________________________________*/


/*Search section*/


.search-bar {
    display: flex;
    flex-direction: row;
    margin: 24px 0;
}

.search-bar input,
button {
    font-size: 18px;
    font-weight: 700;
    padding: 12px 16px;
}

.search-bar__input {
    border-width: 2px 0px;
    border-style: solid;
    border-color: #f2f2f2;
    max-width: 230px;
    min-width: 130px;
}

.search-bar__input:focus:valid {
    outline: solid 2px rgba(35, 187, 21, 0.733);
}

.search-bar__input:focus:invalid {
    outline: solid 2px #fca400;
}


.search-bar__location-logo {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
    font-size: 18px;
    padding: 0 16px;
}

.search-bar__buttons {
    display: flex;
}

.search-bar__button {
    color: #f2f2f2;
    background-color: #0065FC;
    border-radius: 0 15px 15px 0;
    border: 0;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.search-bar__button:hover {
    color: #0065FC;
    background-color: #DEEBFF;
}

/* ----- Filters section -----*/

.filters-block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

label {
    transition: transform 200ms ease-in;
}

.filters-block__checkbox-block{
    cursor: pointer;
}


.filters-block__label{
    display: inline-block;
    border-width: 3px 3px 3px 0;
    border-style: solid;
    border-color: #f2f2f2;
    border-radius: 50px;
    padding-right: 10px;
}

.filters-block__label i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: -3px;
    background-color: #DEEBFF;
    height: 48px;
    width: 48px;
    border-radius: 50px;
    color: #0065FC;
}


.filters-block span {
  padding: 0 10px; 
  font-weight: 700;
} 

input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Animations */

label:hover:not(checked) {
    transform: scale(1.1);
}

label:hover:not(checked) .filters-block__label {
    /* background-color: #ffebde; */
    color:#fc6500; 
}

label:hover:not(checked) i {
    background-color: #ffebde;
    color:#fc6500;  
}

input:checked+div {
    border-color: hsla(24, 100%, 80%, 0.178);
    background-color: #ffebde;
    color: #fc6500;
    box-shadow: -1px 0px 5px 2px hsla(24, 100%, 78%, 0.178) inset;
}

input:checked+div i {
    background-color: #fc6500;
    color: #f2f2f2;
    box-shadow: 4px 0px 5px 1px hsl(24, 100%, 47%) inset;
}

/* Animations for keyboard accessibility */

input[type="checkbox"]:focus + div{
    outline: 2px solid #0065fc7a;
    box-shadow: 3px 1px 2px 1px hsl(0, 0%, 95%);
    transform: scale(1.1);
} 

/*input[type="checkbox"]:focus:not(checked) + .filters-block__label>i{

    background-color: #ffebde;
    color:#fc6500;  
} */


/*****Info block******/

.info-block {
    display: flex;
    flex-direction: row;
    margin: 32px 0;
    align-items: center;
}

.info-block i {
    display: inline-block;
    margin-right: 8px;
    border: solid 2px #f2f2f2;
    border-radius: 50px;
    padding: 5px 10px;
    color: #0065FC;
    font-size: 18px;
}

/***** Accomodations section  *****/

/*-> Whole accomodations section <-*/

.accomodations-section{
    display: flex;
    gap: 25px; 
}

.accomodations-section>*{
    background-color: #f2f2f2;
    padding: 42px;
    border-radius: 25px;
}

.accomodations-block{
    display: flex;
    flex-wrap: wrap;
    gap: 34px;
    width: 70%;  
}


/*All accomodations card*/
article{
    flex: 1 0 30%;
}

.accomodations-card{
    background-color: white;  
    border-radius: 20px;
    border: 5px solid white;
  }

.accomodations-card__photo {
    overflow: hidden;
}

.accomodations-card__photo img{
    object-fit: cover;
    width: 100%;
    height: 130px;
}

.accomodations-card__body{
    font-size: 14px;
}

.accomodations-card__body h4{
    font-size: 16px;
}

.accomodations-card__ratings{
    font-size: 12px;
}

.card__blue-star{
    color:#0065FC;
}

.card__gray-star{
    color:#F2F2F2;
}

/*-> Accomodations block <-*/


/* Accomodations cards : vertical cards */

.accomodations-card.card--vertical{
    display: flex;
    flex-direction: column;
    min-width: 220px;
}

.accomodations-card__photo.card--vertical {
    border-radius: 15px 15px 0 0;
    height: 140px;
    width: 100%;
}

.accomodations-card__body.card--vertical{
    padding: 0px 0 5px 10px;
}

.accomodations-card__body.card--vertical h4{
    margin-bottom: 5px;
}

.accomodations-card__ratings.card--vertical{
    margin-top: 6px;
}

/*-> Popular block <-*/
.popular-block{
    width: 30%;
}
/* Popular cards : horizontal cards */

.accomodations-card.card--horizontal{
    display: flex;
    max-width: 350px;
}

.accomodations-card__photo.card--horizontal {
    border-radius: 15px 0 0 15px;
    height: 135px;
    max-width: 38%;
}

.accomodations-card__body.card--horizontal{
    padding: 8px 0 0px 24px;
}

.accomodations-card__body.card--horizontal h4{
    margin: 0;
}

.accomodations-card__ratings.card--horizontal{
    margin-top: 30px;
}

/* Media queries*/

@media screen and (max-width:767px) {

    header{
        width:100%;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar__logo{
        text-align: center;
        padding: 0;
    }

    .navbar__button-group {
        width: 100%; 
    }
    
    .navbar__button{
        width: 100%;
    } 

    .navbar__button a{
        width: 100%;
        font-weight: 500;
        border-bottom: 4px solid #F2F2F2; 
        padding: 32px 0 24px 0;
    }

    .navbar__button a:hover {
        border-bottom: solid 4px #0065FC;
        border-top: none;
        
    }    

    .search-container{
        margin: 40px;
    }

    .search-bar__button--widescreen-version {
        display: none;
    }

    .search-bar__button--mobile-version {
        position: relative;
        left: -10px;
        border-radius: 15px 15px 15px 15px;
    }

    .filters-block{
        gap: 12px;
    }

    h4{
        width: 100%;
    }
}

@media screen and (min-width:768px) {
    header, main{
        margin: 0px 72px;
    }
    .search-bar__button--mobile-version {
        display: none;
    }
}

@media screen and (max-width:991px){
    .navbar__button-group{
        min-width: 55%;
    }
}

