*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {
    font-family: inherit;
}

/******************************/
/*********** BODY *************/
/******************************/

body {
    font-family: 'Raleway', sans-serif;
    font-size: 18px; /*Medium website text size*/
}

/* section{
    margin: 24px 0 32px 0;
} */

/***** Headers *****/

h1 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

/***** Links *****/

a { 
    text-decoration: none;
    color: black;
}


/***** Lists *****/

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {

    list-style-type: none;
}

/***** Paragraphs *****/

p{
    margin: 0;
}

/*__________________________________*/
/*------------> HEADER <------------*/
/*__________________________________*/


/* header {
    width: 93%;
    margin: auto;
    /* border: 2px solid green; 
} */

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    /* border: 2px solid red; */
}

.navbar__logo {
    padding: 32px 0;
    /* border: 2px solid orange; */
}

nav img{
    height: 56px;
    /* border: 2px solid yellow; */
}

.navbar__button-group {
    display: flex;
    flex-direction: row;
    min-width: 30%;
    /* font-size: 20px; */
    /* border: 2px solid brown; */
}

.navbar__button a{
    display: block;
    width: 220px;
    text-align: center;
    height: 100%;
    padding: 56px 24px 0 24px;
}

.navbar__button a:hover{
    color: #0065FC;
    border-top: solid 3px #0065FC;
}

/*________________________________*/
/*------------> MAIN <------------*/
/*________________________________*/


/*Search section*/


.search-bar {
    display: flex;
    flex-direction: row;
    margin: 24px 0;
}

.search-bar input,
button {
    font-size: 18px;
    font-weight: 700;
    padding: 10px 16px;
}

.search-bar__input {
    border-width: 2px 0px;
    border-style: solid;
    border-color: #f2f2f2;
}

.search-bar__input:focus {
    outline: solid 2px #DEEBFF;
    background-color: none;
} 

.search-bar__input:invalid {
    outline: solid 2px #fca400;
    background-color: none;
}


.search-bar__location-logo {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
    font-size: 18px;
    padding: 0 16px;
}

.search-bar__buttons {
    display: flex;
}

.search-bar__button {
    color: #f2f2f2;
    background-color: #0065FC;
    border-radius: 0 15px 15px 0;
    border: 0;
    cursor: pointer;
    transition: all 400ms ease-in-out;
}

.search-bar__button:hover {
    color: #0065FC;
    background-color: #DEEBFF;
}

/* ----- Filters section -----*/

.filters-block {
    display: flex;
    flex-direction: row;
}

/* Media queries*/

@media (max-width:767px) {
    header{
        width:100%;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar__logo{
        text-align: center;
        padding: 0;
    }

    .navbar__button-group {
        width: 100%; 
    }
    
    .navbar__button{
        width: 100%;
    } 

    .navbar__button a{
        width: 100%;
        font-weight: 500;
        border-bottom: 4px solid #F2F2F2; 
        padding: 32px 0 24px 0;
    }

    .navbar__button a:hover {
        border-bottom: solid 4px #0065FC;
        border-top: none;
        
    }    

    .search-container{
        margin: 40px;
    }

    .search-bar__button--widescreen-version {
        display: none;
    }

    .search-bar__button--mobile-version {
        position: relative;
        left: -10px;
        border-radius: 15px 15px 15px 15px;
    }
}

@media (min-width:768px) {
    header, main{
        margin: 0px 72px;
    }
    .search-bar__button--mobile-version {
        display: none;
    }
}

@media (max-width:991px){
    .navbar__button-group{
        min-width: 55%;
    }
}

