*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {
    font-family: inherit;
}

/******************************/
/*********** BODY *************/
/******************************/

body {
    min-width: 320px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px; /*Medium website text size*/
}

/* section{
    margin: 24px 0 32px 0;
} */

/***** Headers *****/

h1 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

/***** Links *****/

a { 
    text-decoration: none;
    color: black;
}


/***** Lists *****/

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {

    list-style-type: none;
}

/***** Paragraphs *****/

p{
    margin: 0;
}

/*__________________________________*/
/*------------> HEADER <------------*/
/*__________________________________*/


/* header {
    width: 93%;
    margin: auto;
    /* border: 2px solid green; 
} */

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    /* border: 2px solid red; */
}

.navbar__logo {
    padding: 32px 0;
    /* border: 2px solid orange; */
}

nav img{
    height: 56px;
    /* border: 2px solid yellow; */
}

.navbar__button-group {
    display: flex;
    flex-direction: row;
    min-width: 30%;
    /* font-size: 20px; */
    /* border: 2px solid brown; */
}

.navbar__button a{
    display: block;
    width: 220px;
    text-align: center;
    height: 100%;
    padding: 56px 24px 0 24px;
}

.navbar__button a:hover{
    color: #0065FC;
    border-top: solid 3px #0065FC;
}

/*________________________________*/
/*------------> MAIN <------------*/
/*________________________________*/


/*Search section*/


.search-bar {
    display: flex;
    flex-direction: row;
    margin: 24px 0;
}

.search-bar input,
button {
    font-size: 18px;
    font-weight: 700;
    padding: 12px 16px;
}

.search-bar__input {
    border-width: 2px 0px;
    border-style: solid;
    border-color: #f2f2f2;
    max-width: 230px;
    min-width: 130px;
}

.search-bar__input:focus {
    background-color: none;
} 

.search-bar__input:focus:valid{
    outline: solid 2px rgba(35, 187, 21, 0.733);
}

.search-bar__input:focus:invalid {
    outline: solid 2px #fca400;
}


.search-bar__location-logo {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
    font-size: 18px;
    padding: 0 16px;
}

.search-bar__buttons {
    display: flex;
}

.search-bar__button {
    color: #f2f2f2;
    background-color: #0065FC;
    border-radius: 0 15px 15px 0;
    border: 0;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.search-bar__button:hover {
    color: #0065FC;
    background-color: #DEEBFF;
}

/* ----- Filters section -----*/

.filters-block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

label{
    transition: transform 200ms ease-in;
}

.filters-block__checkbox-block{
    cursor: pointer;
}


.filters-block__label{
    display: inline-block;
    border-width: 3px 3px 3px 0;
    border-style: solid;
    border-color: #f2f2f2;
    border-radius: 50px;
    padding-right: 10px;
}

.filters-block__label i{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: -3px;
    background-color: #DEEBFF;
    height: 48px;
    width: 48px;
    border-radius: 50px;
    color: #0065FC;
}


.filters-block span{
  padding: 0 10px; 
  font-weight: 700;
} 

input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Animations */

label:hover:not(checked){
    transform: scale(1.1);
}

label:hover:not(checked) .filters-block__label{
    /* background-color: #ffebde; */
    color:#fc6500; 
}

label:hover:not(checked) i{
    background-color: #ffebde;
    color:#fc6500;  
}

input:checked+div{
    border-color: hsla(24, 100%, 80%, 0.178);
    background-color: #ffebde;
    color: #fc6500;
    box-shadow: -1px 0px 5px 2px hsla(24, 100%, 78%, 0.178) inset;
}

input:checked+div i{
    background-color: #fc6500;
    color: #f2f2f2;
    box-shadow: 4px 0px 5px 1px hsl(24, 100%, 47%) inset;
}

/* Animations for keyboard accessibility */

input[type="checkbox"]:focus:not(checked) + .filters-block__label{
    /* background-color: #ffebde; */
    color:#fc6500; 
}

input[type="checkbox"]:focus:not(checked) + .filters-block__label>i{
    /* background-color: #ffebde; */
    background-color: #ffebde;
    color:#fc6500;  
}


/*****Info block******/

.info-block {
    display: flex;
    flex-direction: row;
    margin: 32px 0;
    align-items: center;
}

.info-block i {
    display: inline-block;
    margin-right: 8px;
    border: solid 2px #f2f2f2;
    border-radius: 50px;
    padding: 5px 10px;
    color: #0065FC;
    font-size: 18px;
}

/* Media queries*/

@media screen and (max-width:767px) {

    header{
        width:100%;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar__logo{
        text-align: center;
        padding: 0;
    }

    .navbar__button-group {
        width: 100%; 
    }
    
    .navbar__button{
        width: 100%;
    } 

    .navbar__button a{
        width: 100%;
        font-weight: 500;
        border-bottom: 4px solid #F2F2F2; 
        padding: 32px 0 24px 0;
    }

    .navbar__button a:hover {
        border-bottom: solid 4px #0065FC;
        border-top: none;
        
    }    

    .search-container{
        margin: 40px;
    }

    .search-bar__button--widescreen-version {
        display: none;
    }

    .search-bar__button--mobile-version {
        position: relative;
        left: -10px;
        border-radius: 15px 15px 15px 15px;
    }

    .filters-block{
        gap: 12px;
    }

    h4{
        width: 100%;
    }
}

@media screen and (min-width:768px) {
    header, main{
        margin: 0px 72px;
    }
    .search-bar__button--mobile-version {
        display: none;
    }
}

@media screen and (max-width:991px){
    .navbar__button-group{
        min-width: 55%;
    }
}

